In [1]:
# a reference to the max function
max

In [2]:
max?

In [3]:
# calling the max function with 1 arguement, a list of numbers
max([4,2,3,1])

4

In [4]:
maximum_number = max([4,2,3,1])

In [5]:
print (maximum_number)

4

In [7]:
print('The max is:' + str(max([4,2,3,1])))

The max is:4

In [8]:
print('the max is: ' + str(maximum_number))

the max is: 4

In [9]:
def increment(n):
    return n + 1

In [10]:
four = increment(3)
print(four)

4

In [13]:
value = increment(3)
value = increment(value)
value = increment(value)

In [11]:
six = increment(increment(increment(3)))
print(six)

6

In [14]:
print(value)

6

In [15]:
six = increment(increment(increment(3)))
six = increment(increment(4))
six = increment(5)
six == 6

True

In [16]:
def bad_increment(n):
    n+1

In [17]:
print(bad_increment(1))

None

In [18]:
def increment(n):
    return n+1
    print('You will never see this')
    return n+1
increment (3)

4

In [19]:
def declare_even_odd(n):
    if n%2==0:
        return 'Even'
    else: 
        return 'Odd'

In [20]:
declare_even_odd(1)

'Odd'

In [21]:
#arguments: is the value a function is called ith
#parameters: is part of a function's definition; a placeholder for an argument

In [22]:
def add(a,b):
    result = a + b
    return result

x = 3
seven = add(x, 4)

In [23]:
seven

7

In [24]:
seven = add('3','4')
seven

'34'

In [25]:
def shout(message):
    print(message.upper() + '!!!')

In [26]:
return_value = shout('hey there')

HEY THERE!!!

In [29]:
print(return_value) #none is the absence of a value

None

In [31]:
def sayhello():
    print ('Hey there!')
sayhello()

Hey there!

In [32]:
def return_3():
    return 3

In [33]:
num = return_3()
print(num)

3

In [34]:
sayhello(123) #creating functions that have no return value or no parameters

TypeError: sayhello() takes 0 positional arguments but 1 was given

In [35]:
def sayhello(name='World', greeting='Hello'):
    return '{}, {}!'.format(greeting, name)

In [36]:
sayhello()

'Hello, World!'

In [37]:
sayhello('codeup') #takes in first function in def then this one

'Hello, codeup!'

In [38]:
sayhello('codeup','Salutations')

'Salutations, codeup!'

In [45]:
#calling functions

args = ['Codeup', 'Salutations']
sayhello(*args)

'Salutations, Codeup!'

In [42]:
kwargs = {'greeting': 'Salutations', 'name': 'Codeup'}
sayhello(**kwargs)

'Salutations, Codeup!'

In [46]:
#function scope is a term that describes where a variable can be referenced. in-scope can reference it, 
#out-of-scope cannot reference

In [47]:
a_global_variable = 42

In [48]:
def somefunction():
    print('inside the function: %s' % a_global_variable)

In [50]:
somefunction()

inside the function: 42

In [51]:
print('outside the function: %s' % a_global_variable)

outside the function: 42

In [52]:
def somefunction():
    a_local_variable = 'pizza'
    print('Inside the function: %s' % a_local_variable)

In [54]:
#shadowing local and global variable have the same name. Name defaults to global

In [55]:
n = 123

In [56]:
def somefunction():
    n=10
    n=n-3
    print('Inside the function, n == %s' % n)

In [57]:
somefunction()

Inside the function, n == 7

In [58]:
print('outside the function, n == %s' % n)

outside the function, n == 123

In [59]:
print('outside the function, n == %s' %n)

outside the function, n == 123

In [60]:
n = 123

def for_loop_func(n):
    n = 10
    for i in range(10):
        n+=1
    return n

In [65]:
print(f"Global variable - outside the function: n == {n}")

Global variable - outside the function: n == 123

In [66]:
n2 = for_loop_func(n)

In [67]:
print(f"Global variable - came from inside the function: n2 == {n2}")

Global variable - came from inside the function: n2 == 20

In [68]:
#and what happened to the global variable n?
print(f"old global variable - outside the function: n == {n}")

old global variable - outside the function: n == 123

In [69]:
#lambda functions - shortcuts for making several functions

#lambda [input]: [input] + 1

In [74]:
add_one = lambda n: n + 1
add_one(9)

10

In [75]:
add_one

In [77]:
square = lambda n: n ** 2
square(9)

81

In [78]:
#function use help us rewrite code that have already used

In [79]:
def if_even(num):
    print('This number is even!')
    print(f'The square of this number is {num * num}')

In [85]:
def if_odd(num):
    print('This number is odd!')
    print(f'The cube of this number is {num ** 3}')

In [86]:
num = 7 
if num==0:
    print('This is not even. This is not odd. This is special.')
elif num % 2 == 0:
    if_even(num)
else:
    if_odd(num)

This number is odd!
The cube of this number is 343